<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Find Latitude and Longitude</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-map/3.0-rc1/jquery.ui.map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="../js/map.js"></script>
    <style>
        #googleMap {
            height: 550px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        
        body {
            background: #eeeeee;
            background-image: url("https://img.freepik.com/free-vector/city-map-background-blue-tone_99087-101.jpg?w=2000");
            background-color: #0a0a23;
            font-family: Univers45, sans-serif;
        }
        
        #survey-form {
            margin: 0px auto 15px auto;
            width: 800px;
            padding: 30px;
            border-radius: 5px;
            background-color: rgba(238, 238, 238, 0.8);
            display: block;
            align-self: center;
            align-content: center;
            text-align: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar" style="background-image: url('https://img.freepik.com/free-vector/city-map-background-blue-tone_99087-101.jpg?w=2000')" ;>
        <div class="container" style="background-image: url('https://besthqwallpapers.com/Uploads/15-10-2017/24112/thumb2-audi-a5-tuning-stance-blue-a5-rain.jpg')" ;;>
            <a class="navbar-brand" href="index.html">OUSSIMO<span>CARS</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item "><a href="/voiture" class="nav-link">Voitures</a></li>
                    <li class="nav-item "><a href="/tracer" class="nav-link">Tracers</a></li>
                    <li class="nav-item active"><a href="/voituretracer" class="nav-link">Positions</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div id="survey-form">
        <img src="https://cdn-icons-png.flaticon.com/512/2086/2086028.png" style="height: 70px; width: 70px;" />
        <h3>Trouver les positions</h3>

        <select id="addMarkerBtnId">
		<option>Selectionner une date</option>
		<% date.forEach(function(n){ %>
		<option><%= n %></option>
		
		<% }); %>
	</select> <img src="https://uxwing.com/wp-content/themes/uxwing/download/13-time-date/date-and-time.png" style="height: 30px; width: 30px;" />

    </div>
    <br/><br/>





    <div id="googleMap" style="width:80%;height:700px"></div>


    <script>
        $(function() {
            $("#googleMap").gmap({
                'zoom': 3
            });

            var markers = [];

            $("#addMarkerBtnId").change(function() {
                markers = [];
                console.log(markers)
                var str = $("#addMarkerBtnId").val();
                var str1 = $("#num").val();
                $.post("/request", {
                        name: "viSion",
                        designation: "Professional gamer",

                        num: str1,
                        date: str

                    },
                    function(data, status) {
                        console.log(data);
                        console.log(data[0].position.length)
                        for (var i = 0; i < data[0].position.length; i++) {
                            var marker = {
                                "lat": data[0].position[i].la,
                                "lng": data[0].position[i].lo,
                            };
                            markers.push(marker);

                            $.each(markers, function(i, m) {
                                $("#googleMap").gmap("addMarker", {
                                    "position": new google.maps.LatLng(m.lat, m.lng),
                                    "title": m.title
                                }).click(function() {
                                    var contentString = "<table border='1'>" +
                                        "<tr><td>Place Name : </td><td>" + m.title + "</td></tr>" +
                                        "<tr><td>Latitude : </td><td>" + m.lat + "</td></tr>" +
                                        "<tr><td>Longitude : </td><td>" + m.lng + "</td></tr>" +
                                        "</table>";
                                    $("#googleMap").gmap("openInfoWindow", {
                                        content: contentString
                                    }, this);
                                });
                                m = {}
                            });

                        }
                    });
            });

        });
    </script>

</body>

</html>