<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
       h2{
      font-family: 'Algerian';
      font-size: 40px;
      text-align: center;
    }
    body{
      background-color: #66a7f1;
    }

    table{
      background-color:white;
    }
    th , td{
      color:black;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>La Liste des Tracers</h2>
  <table class="table  table-striped text-center">
    <thead>
      <tr>
        <th>NUM</th>
      </tr>
    </thead>
    <tbody>
        <% tracer.forEach(function(u){ %>
            <tr>
                <td><%= u.num %></td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>
</body>
</html>